.form {
    display: flex;

    ul {
        width: 50%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
}

.detail {
    font-size: 0.9rem;
    color: gray;
}