.form {
    display: flex;
    padding: 0;

    ul {
        width: 50%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}

.detail {
    font-size: 0.9rem;
    color: gray;
}