@import "@/app/mixins.scss";

.form {
    display: flex;
    flex-wrap: wrap;

    ul {
        width: 50%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-between;
        gap: 1rem;

        &:nth-child(2) { //memory capacity menu
            li {
                text-align: center;

                label {
                    display: block;
                }
            }
        }
    }

    input[type=radio] {
        display: none;
        
        + label {
            @include button;
        }
        
        &:checked + label{
            @include button-selected;
        }
    }

    button {
        width: 100%;
        margin-top: 1rem;
    }
}

.detail {
    font-size: 0.9rem;
    color: gray;
    margin: 0;
    padding: 0;
}