@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

body {
    background: {
        image: url("./wallpaper.jpg"); //credit to kazuend on Unsplash
        repeat: no-repeat;
        position: center;
        size: fill;
    }

    font-family: "Roboto", sans-serif;
    color: white;
}

.glassmorph {
    background: rgba(0,0,0,0.6);
    border-radius: 2rem;
    padding: 1.5rem;
}

.btn {
    color: white;
    background-color: #0088CC;
    border: none;
    transition: 100ms;

    &.blue {
        &:hover {
            background-color: #0099DD;
            transform: scale(1.02);
        }

        &:active {
            background-color: #00BBFF;
            transform: scale(1.03);
        }
    }
}