@mixin button {    
    color: white;
    border: none;
    transition: 100ms;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #DDDDDD;
    color: #000000;
    font-size: 1rem;
    box-shadow: inset 0px 1px 5px 1px rgba(0,0,0,0.5);
    
    &:hover {
        background-color: #FFFFFF;
    }
}

@mixin button-selected {    
    background-color: #0088CC;
    color: white;

    &:hover {
        background-color: #0099DD;
    }

    &:active {
        background-color: #00BBFF;
    }
}