.name {
    text-align: center;
    color: white;

    h1 {
        font: {
            size: 3rem;
            weight: 400;
        }
        margin-bottom: 0;
    }

    p {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
}

.logo {
    transform: scaleX(-1);
    margin-right: 0.5rem;
}